%h1 Story Index

%table.table-bordered.table-striped.table-hover
  %tr
    %th Title
    %th Description

  - for story in @stories
    %tr
      %td
        = link_to story.title, story_path(story)
      %td
        = story.description



        = link_to "Stories Index", stories_path


